@import 'variables';

.menuWrapper {
    .mainMenu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;

        .logo {
            font-size: 72pt;
        }

        h1, h3 {
            margin: 0;
            padding: 0;
            color: $gradientThemeColor;
        }
    }

    #credit {
        position: fixed;
        bottom: 20px;
        right: 20px;

        p {
            display: inline-block;
            color: $gradientThemeColor;
            margin: 0;
            padding: 0;
        }
    }
}